<!DOCTYPE html>
<html>
    <head>
        <title>Fitness App - Statistics</title>
        <link rel="stylesheet" href="../static/css/base.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Some Text</h1>
        <div class="horizontal-nav" id='horizontal-nav'>
            <a href="/">Home</a>
            <a href="/edit">Edit</a>
            <a href="/statistics">Stats</a>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>