@font-face {
    font-family: 'alcubierreregular';
    src: url('../resources/fonts/Alcubierre/alcubierre-webfont.woff2') format('woff2'),
         url('../resources/fonts/Alcubierre/alcubierre-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$body-font-stack:'Roboto', sans-serif; 
$header-font-stack: 'Roboto', sans-serif; 
$primary-font-color:  rgb(223, 238, 255);
$primary-background-color: rgb(106, 144, 170);
$primary-container-color: rgba(71, 76, 80, 0.87);
$primary-hover-color:  rgb(43, 79, 122);

body{
    background-image: url('../resources/images/weights-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-color: $primary-background-color;
    color: $primary-font-color;
    letter-spacing: 2px;
}
h1{
    font-family: $header-font-stack;
}
a{
    text-decoration: none;
    color: $primary-font-color;
    font-family: $body-font-stack;
}
.horizontal-nav{
    border-radius: 3px;
    margin: 0 auto;
    background-color: $primary-container-color;
    font-family: $header-font-stack;
    display: flex;
    justify-content: center;
    width: 50%;
    a{
        font-size: 140%;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 2px;
    }
    a:hover{
        background-color: $primary-container-color;
    }
}
